/* 背景图*/
.body{
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1080px;
    min-width: 320px;
    margin: auto;
    background: url("../images/sorry-bg.jpg") no-repeat;
    background-size: 21.6rem 38.4rem;
}
/* 抱歉文字*/
.text{
    width: 78.61%;
    height: 15%;
    position: absolute;
    top: 13.13%;
    left: 10.28%;
}
.text p{
    font-size: 1rem;
    font-family:FZLTHJW--GB1-0;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:1.5rem;
}

/* 联系电话*/
.tel{
    width: 50%;
    height: 2.5%;
    position: absolute;
    left: 10.37%;
    top: 32.4%;
}
.tel p{
    font-size: 1rem;
    font-family:FZLTZHK--GBK1-0;
    font-weight:600;
    color:rgba(165,61,245,1);
}

/*了解语音遥控器按钮*/
.btn_more{
    width: 68.06%;
    height: 7.4%;
    position: absolute;
    top: 73.18%;
    left: 50%;
    margin-left: -34.02%;
}
.btn_more button{
    width: 100%;
    height: 100%;
    background:linear-gradient(90deg,rgba(149,64,255,1),rgba(75,40,255,1));
    border-radius:0.4rem;

    font-size:1.2rem;
    font-family:FZLTHJW--GB1-0;
    font-weight:400;
    color:rgba(255,255,255,1);
}

/* 按钮动画效果 */
#btn_click{
    -webkit-animation: learn_more 1.5s linear alternate infinite;
    animation: learn_more 1.5s linear alternate infinite;
}
@-webkit-keyframes learn_more{
    0%{-webkit-transform:scale(0.9);}
    100%{-webkit-transform:scale(1);}
}
@keyframes learn_more{
    0%{transform:scale(0.9);}
    100%{transform:scale(1);}
}


