<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>toast</title>
  <link rel="stylesheet" href="./toast.css">

  <style>
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
  </style>
</head>
<body>
  
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.3.0/jquery.min.js"></script>
  <script src="./toast.js"></script>
  <script>
    // successMsg("成功的提示")
    // faildMsg("失败的提示")
    loadingShow()
    setTimeout(function(){
      loadingHide()
    }, 3000)
  </script>
</body>
</html>